html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"メイリオ";
}

header {
    background-color:deepskyblue;
    width: 700px;
    height: 75px;
    margin-left: -10px;
    margin-top: -10px;
    color: #fff;
    border: 1px solid darkblue;
}

header li {
    list-style: none;
    float: right;
    
}

span .header-logo{
    width: 100px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 15px;
    font-size:50px;
}