html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"メイリオ";
}

body {
    margin: 0px;
}

header  {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    top: 0;
    z-index: 10;
}

.main-top {
    padding: 180px 0 100px 0;
    background-image: url(../img/マイクラ背景.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-logo img{
    width: 65px; height: 10%;
    display: block;
	margin:auto;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin:20px 0;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: DeepSkyBlue;
    display: block;
    order: -1;
  }
  .tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }

.main-message {
  border-top: 2px solid rgba(0,0,0,.2);
  margin: 10px auto;
  width:80%;
  font-size:45px;
  text-align: center;
}

.main-message p {
  font-size: 18px;
}

