html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"メイリオ";
}

body {
    margin: 0px;
    
}

header  {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    top: 0;
    z-index: 10;
}

#logo {
  border-radius:50%;
}

.main-top {
    padding: 180px 0 100px 0;
    background-image: url(../../img/NAimg.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-logo {
    width: 65px; height: 10%;
    display: block;
	  margin:auto;
  
}
 .top-logo a {
    color: white;
    text-decoration: none;
 }

.main-message {
  border-top: 2px solid rgba(0,0,0,.2);
  margin: 10px auto;
  width:80%;
  font-size:45px;
  text-align: center;
}

.sub-message {
  border-top: 2px solid rgba(0,0,0,.2);
  margin: 10px auto;
  width:60%;
  font-size:40px;
  text-align: center;
}
 .sub-message p {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 20px;
 }
 .sub-message li {
   font-size:20px;
 }
 .sub-message ul {
   padding-left:0px ;
 }
.main-message p {
  font-size: 18px;
}
.redfont {
  color: red;
}
.site-map {
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgb(216, 216, 216);
}
 .site-map p{font-size: 25px;}
  .site-map ul {padding-left: 0px;}
  .site-map li{
    font-size: 20px;
    list-style: none;
    margin: 5px;
    display:block;
  }

footer {
  background-color: rgb(57, 27, 165);
  color: #fff;
  text-align: center;
  width:100%;
  height: 15%;
  padding-top: 10px;
  padding-bottom: 5px;
}
footer p{margin-bottom:0px ;}